*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app{
  width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#persContainer{
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  width: 100%;
  word-break: break-all;
}

.PersonBox{
  background-color: grey;
  margin: 10px;
  width: 33%;
}

.idBox{
  font-size: 8px;
}
.damagedHpBox{
  color: red;
}
.persNameBox{
  font-size: 20px;
  word-break: keep-all;
}
.armPart{
  padding: 3px;
}
.armorBox{
  display: flex;
}