@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
#app{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#persContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  word-break: break-all;
  border: 3px solid black;
}

.PersonBox{
  margin: 10px;
  width: 31%;
  background-color: white;
  border: 3px solid black;
  padding: 5px;
}

.idBox{
  font-size: 8px;
}
.damagedHpBox{
  /* color: red; */
  width: 70%;
  accent-color: black;
}
.persNameBox{
  word-break: keep-all;
}
.armPart{
  padding: 3px;
}
.armorBox{
  display: flex;
}
.propHeader{
  background-color: black;
  color: white;
  font-size: 16px;
}
.weaponHeader{
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
}
.armorFlex{
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}
.armorCell{
  width: 15%;
  align-self: stretch;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.armorHeader{
  font-size: 10px;
}
.RoleBox{
  word-break: keep-all;
  accent-color: black;
}
.specialSkill{
  background-color: rgba(0, 0, 0, 0.2);
  display: table-cell;
}
.hpCelll{
  width: 5%;
}
.saveBtmBox{
  display: flex;
}
.saveHpBox{
  display: flex;
  margin: 3px 0;
}
/* .roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */